# IRC Verbindung - eigenen Nickname eintragen!
IRC_SERVER=irc.abjects.net
IRC_PORT=6667
IRC_NICKNAME=tellofix_bot
IRC_CHANNELS=#BEAST-XDCC

# Datenbank - wird beim ersten Start automatisch angelegt
# Standard-Testwerte: tellofix / tellofix
# WICHTIG: In Produktion eigene Passwoerter setzen!
MYSQL_ROOT_PASSWORD=tellofix
MYSQL_DATABASE=xdcc_test
MYSQL_USER=xdcc
MYSQL_PASSWORD=tellofix

# API Port
APP_PORT=8888
